/* GENERAL */ 

html, body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.navbar{
    display: block;
    margin: 20px;
    height: 50px;
    width: 110%;

}

.div-nav{
    text-decoration: none;
    text-align: center;
    margin-right: 30px;
}

.nav-home{
    margin-left: -10.5%;
}

.nav-music{
    margin-left: 5%;
    margin-right: 5%;
}

.lb{
    display: flex;
    justify-content: center;
}

.line{
    display: block;
    background-color: white;
    height: 2px;
    width: 60%;
    margin-top: -12px;
}

.socials{
    margin-top: 5px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-left: 0.6%;
}

.youtube{
    float: left;
    margin-left: 18px;
    margin-right: 11%;
}

.insta{
    float: left;
    margin-right: 11%;
}

.tiktok{
    float: left;
    margin-right: 11%;
}

.discord{
    float: left;
    margin-top: 8px;
    margin-right: 5%;
}

.link-item-active{
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.link-item{
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
    font-weight: 100;
}

/* PAGE SPECIFIC */
/* Index */

.i-bgbg{
    position: fixed;
    display: block;
    background-color: mediumaquamarine;
    width: 100%;
    height: 100%;
}

.i-bg-img{
    position: fixed;
    display: block;
    background-image: url("");
    height: 1000px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.i-body{
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 18%;
    margin-right: 18%;
    height: 100%;
}

.i-cf{
    position: fixed;
    display: grid;
}

.i-content{
    position: fixed;
    display: block;
    /*background-color: hotpink;*/
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 18%;
    margin-right: 18%;
    height: 100%;
}

/* Music */

.m-bgbg{
    position: fixed;
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
}

.m-bg-img{
    position: fixed;
    display: block;
    background-image: url("Images/Shallow Screenshot.png");
    height: 1000px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.m-body{
    position: fixed;
    display: block;

    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 18%;
    margin-right: 18%;
    height: 100%;
}

.m-cf{
    position: fixed;
    display: grid;
}

.m-content{
    position: fixed;
    display: block;
    /*background-color: hotpink;*/
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 18%;
    margin-right: 18%;
    height: 100%;
}

/* Contact */

.c-bgbg{
    position: fixed;
    display: block;
    background-color: tomato;
    width: 100%;
    height: 100%;
}

.c-body{
    position: fixed;
    display: block;

    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 18%;
    margin-right: 18%;
    height: 100%;
}

.c-cf{
    position: fixed;
    display: grid;
}

.c-content{
    position: fixed;
    display: block;
    /*background-color: hotpink;*/
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 18%;
    margin-right: 18%;
    height: 100%;
}